cffi==2.0.0
clarabel==0.11.1
contourpy==1.3.3
cvxpy==1.7.3
cycler==0.12.1
Cython==3.1.5
fonttools==4.60.1
iniconfig==2.2.0
Jinja2==3.1.6
jlc-choldate==0.4
joblib==1.5.2
kiwisolver==1.4.9
knockpy==1.3.5
MarkupSafe==3.0.3
matplotlib==3.10.7
networkx==3.5
numpy==2.3.4
osqp==1.0.5
packaging==25.0
pandas==2.3.3
pillow==12.0.0
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
pyparsing==3.2.5
pytest==8.4.2
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
scipy==1.16.2
scs==3.2.9
setuptools==80.9.0
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2
